<nav id="topNav">
    <ul>
        <li class="hidden" id="labNav"><a href="#labsSec">Labs</a></li>
        <li class="hidden" id="usersNav"><a href="#usersSec">Users</a></li>
        <li class="hidden" id="configNav"><a href="#configSec">Config</a></li>
        <li class="hidden" id="helpNav"><a href="#helpSec">Help</a></li>
        <li class="hidden" id="logout"><a href="#">Logout</a></li>
        <li id="contactNav"><a href="#contactSec">Contact</a></li>
        <li id="forumNav"><a href="#forumSec">Forum</a></li>
    </ul>
</nav>