@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section OpenWindows {
    <section id="openWindows">
        <ul>
            <li><a href="#">asfasdfasdf</a></li>
        </ul>
    </section>
}
@section LoginWindow {
    <section id="loginSec">
        @Html.Action("Login", "Account")
    </section><!-- #LoginSec -->
}
@section Scripts {
    @if (User.Identity.IsAuthenticated)
    {
        <script type="text/javascript">
            Util.loggedIn = 1;
            Util.OrganizationHkey = "";
            Util.OrganizationCode = "";
        </script>
    }
    else
    {
        <script type="text/javascript">
            Util.loggedIn = 0;
            Util.OrganizationHkey = "";
            Util.OrganizationCode = "";
        </script>
    }
}